In [4]:
import pandas as pd

# QualityMsr Cleaning

In [34]:
# Load the files
def load_csv(filename):
    try:
        return pd.read_csv(filename, encoding="utf-8", low_memory=False)
    except UnicodeDecodeError:
          return pd.read_csv(filename, encoding="ISO-8859-1",low_memory=False)

# Function to standardize column names
def standardize_columns(df):
    df.columns = df.columns.str.lower().str.replace(' ','_')
    return df

quality_file_paths = [
    "QualityMsrMDS_2015.csv",
    "QualityMsrMDS_2016.csv",
    "QualityMsrMDS_2017.csv",
    "QualityMsrMDS_2018.csv",
    "QualityMsrMDS_2019.csv",
    "QualityMsrMDS_2020.csv",
    "QualityMsrMDS_2021.csv",
]

quality_dfs = {}

for file in quality_file_paths:
    year = file.split("_")[-1].split(".")[0] # Extract the year 
    df = load_csv(file)
    df = standardize_columns(df)
    quality_dfs[f"QualityMsrMDS_{year}"] = df

print(quality_dfs["QualityMsrMDS_2020"].head())

  federal_provider_number             provider_name      provider_address  \
0                  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW
1                  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW
2                  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW
3                  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW
4                  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW

  provider_city provider_state  provider_zip_code  measure_code  \
0  RUSSELLVILLE             AL              35653           401
1  RUSSELLVILLE             AL              35653           404
2  RUSSELLVILLE             AL              35653           405
3  RUSSELLVILLE             AL              35653           406
4  RUSSELLVILLE             AL              35653           407

                                 measure_description resident_type  \
0  Percentage of long-stay residents whose need f...     Long Stay
1  Percentage of long-stay residents who lose too...     Long Stay
2  Percentage of low risk long-stay residents who...     Long Stay
3  Percentage of long-stay residents with a cathe...     Long Stay
4  Percentage of long-stay residents with a urina...     Long Stay

   q1_measure_score  ...  q3_measure_score  footnote_for_q3_measure_score  \
0           8.33333  ...         16.216220                            NaN
1           6.97674  ...          2.500000                            NaN
2               NaN  ...               NaN                            9.0
3           0.00000  ...          1.754017                            NaN
4           8.33333  ...          0.000000                            NaN

   q4_measure_score  footnote_for_q4_measure_score  \
0         25.000000                            NaN
1          2.777780                            NaN
2               NaN                            9.0
3          2.896903                            NaN
4          0.000000                            NaN

   four_quarter_average_score  footnote_for_four_quarter_average_score  \
0                   14.189190                                      NaN
1                    4.402515                                      NaN
2                   29.310345                                      NaN
3                    1.122400                                      NaN
4                    2.717391                                      NaN

   used_in_quality_measure_five_star_rating  measure_period  \
0                                         Y   2019Q1-2019Q4
1                                         N   2019Q1-2019Q4
2                                         N   2019Q1-2019Q4
3                                         Y   2019Q1-2019Q4
4                                         Y   2019Q1-2019Q4

                                        location processing_date
0  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
1  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
2  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
3  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
4  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01

[5 rows x 23 columns]

In [35]:
# Rename the column names in 2020 and 2021
column_mapping = { 
    'federal_provider_number': 'provnum',
    'measure_code': 'msr_cd',
    'measure_description': 'msr_descr',
    'resident_type': 'stay_type',
    'four_quarter_average_score': 'measure_score_4qtr_avg',
    'used_in_quality_measure_five_star_rating': 'five_star_msr'
}

quality_dfs["QualityMsrMDS_2020"] = quality_dfs["QualityMsrMDS_2020"].rename(columns=column_mapping)
quality_dfs["QualityMsrMDS_2021"] = quality_dfs["QualityMsrMDS_2021"].rename(columns=column_mapping)
print(quality_dfs["QualityMsrMDS_2020"].head(5))
print(quality_dfs["QualityMsrMDS_2021"].head(5))

  provnum             provider_name      provider_address provider_city  \
0  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
1  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
2  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
3  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
4  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE

  provider_state  provider_zip_code  msr_cd  \
0             AL              35653     401
1             AL              35653     404
2             AL              35653     405
3             AL              35653     406
4             AL              35653     407

                                           msr_descr  stay_type  \
0  Percentage of long-stay residents whose need f...  Long Stay
1  Percentage of long-stay residents who lose too...  Long Stay
2  Percentage of low risk long-stay residents who...  Long Stay
3  Percentage of long-stay residents with a cathe...  Long Stay
4  Percentage of long-stay residents with a urina...  Long Stay

   q1_measure_score  ...  q3_measure_score  footnote_for_q3_measure_score  \
0           8.33333  ...         16.216220                            NaN
1           6.97674  ...          2.500000                            NaN
2               NaN  ...               NaN                            9.0
3           0.00000  ...          1.754017                            NaN
4           8.33333  ...          0.000000                            NaN

   q4_measure_score  footnote_for_q4_measure_score  measure_score_4qtr_avg  \
0         25.000000                            NaN               14.189190
1          2.777780                            NaN                4.402515
2               NaN                            9.0               29.310345
3          2.896903                            NaN                1.122400
4          0.000000                            NaN                2.717391

   footnote_for_four_quarter_average_score  five_star_msr  measure_period  \
0                                      NaN              Y   2019Q1-2019Q4
1                                      NaN              N   2019Q1-2019Q4
2                                      NaN              N   2019Q1-2019Q4
3                                      NaN              Y   2019Q1-2019Q4
4                                      NaN              Y   2019Q1-2019Q4

                                        location processing_date
0  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
1  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
2  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
3  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01
4  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2020-11-01

[5 rows x 23 columns]
  provnum             provider_name      provider_address provider_city  \
0  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
1  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
2  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
3  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE
4  015009  BURNS NURSING HOME, INC.  701 MONROE STREET NW  RUSSELLVILLE

  provider_state  provider_zip_code  msr_cd  \
0             AL              35653     401
1             AL              35653     404
2             AL              35653     405
3             AL              35653     406
4             AL              35653     407

                                           msr_descr  stay_type  \
0  Percentage of long-stay residents whose need f...  Long Stay
1  Percentage of long-stay residents who lose too...  Long Stay
2  Percentage of low risk long-stay residents who...  Long Stay
3  Percentage of long-stay residents with a cathe...  Long Stay
4  Percentage of long-stay residents with a urina...  Long Stay

   q1_measure_score  ...  q3_measure_score  footnote_for_q3_measure_score  \
0          7.894740  ...         15.000000                            NaN
1         12.500000  ...          9.090910                            NaN
2               NaN  ...               NaN                            9.0
3          1.374846  ...          1.604244                            NaN
4          0.000000  ...          0.000000                            NaN

   q4_measure_score  footnote_for_q4_measure_score  measure_score_4qtr_avg  \
0          18.18182                            NaN               15.060243
1           4.54545                            NaN                7.602338
2               NaN                            9.0               66.000001
3           0.00000                            NaN                0.738709
4           0.00000                            NaN                0.555555

   footnote_for_four_quarter_average_score  five_star_msr  measure_period  \
0                                      NaN              Y   2020Q3-2021Q2
1                                      NaN              N   2020Q3-2021Q2
2                                      NaN              N   2020Q3-2021Q2
3                                      NaN              Y   2020Q3-2021Q2
4                                      NaN              Y   2020Q3-2021Q2

                                        location processing_date
0  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2021-11-01
1  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2021-11-01
2  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2021-11-01
3  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2021-11-01
4  701 MONROE STREET NW, RUSSELLVILLE, AL, 35653      2021-11-01

[5 rows x 23 columns]

In [38]:
# Filtering out the chosen columns
quality_chosen_columns = [
    'provnum', "msr_cd", 'msr_descr', 'stay_type','q1_measure_score','q2_measure_score',
    'q3_measure_score','five_star_msr'
]

filtered_quality_dfs = {}

for year in range(2015, 2022):
    year_key = f"QualityMsrMDS_{year}"

    if year_key in quality_dfs:
        filtered_quality_dfs[year_key] = quality_dfs[year_key][quality_chosen_columns]
print(filtered_quality_dfs["QualityMsrMDS_2020"].head())

  provnum  msr_cd                                          msr_descr  \
0  015009     401  Percentage of long-stay residents whose need f...
1  015009     404  Percentage of long-stay residents who lose too...
2  015009     405  Percentage of low risk long-stay residents who...
3  015009     406  Percentage of long-stay residents with a cathe...
4  015009     407  Percentage of long-stay residents with a urina...

   stay_type  q1_measure_score  q2_measure_score  q3_measure_score  \
0  Long Stay           8.33333           7.69231         16.216220
1  Long Stay           6.97674           5.00000          2.500000
2  Long Stay               NaN               NaN               NaN
3  Long Stay           0.00000           0.00000          1.754017
4  Long Stay           8.33333           2.12766          0.000000

  five_star_msr
0             Y
1             N
2             N
3             Y
4             Y

In [39]:
#Adding a year column
for year_key, df in filtered_quality_dfs.items():
    year = int(year_key.split('_')[-1])  # Get the year from the key
    df['year'] = year  
for year_key, df in filtered_quality_dfs.items():
    print(f"Displaying DataFrame for {year_key}:")
    display(df.head(3))

Displaying DataFrame for QualityMsrMDS_2015:

/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/566998201.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,15009,401,Percent of Long Stay Residents Whose Need for ...,Long Stay,5.555560,24.324320,16.66667,Y,2015
1,15009,402,Percent of Long Stay Residents Who Self Report...,Long Stay,11.498838,4.930037,NaN,Y,2015
2,15009,403,Percent of High Risk Long Stay Residents With ...,Long Stay,0.000000,5.405410,2.94118,Y,2015

Displaying DataFrame for QualityMsrMDS_2016:

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,401,Percentage of long-stay residents whose need f...,Long Stay,4.878050,8.333330,12.820510,Y,2016
1,015009,402,Percentage of long-stay residents who self-rep...,Long Stay,11.832852,21.145456,22.137469,Y,2016
2,015009,403,Percentage of high risk long-stay residents wi...,Long Stay,2.325580,0.000000,0.000000,Y,2016

Displaying DataFrame for QualityMsrMDS_2017:

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,401,Percentage of long-stay residents whose need f...,Long Stay,21.052630,14.285710,24.32432,Y,2017
1,015009,402,Percentage of long-stay residents who self-rep...,Long Stay,14.251164,2.637243,0.00000,Y,2017
2,015009,403,Percentage of high risk long-stay residents wi...,Long Stay,0.000000,0.000000,0.00000,Y,2017

Displaying DataFrame for QualityMsrMDS_2018:

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,401,Percentage of long-stay residents whose need f...,Long Stay,8.33333,16.66667,16.666670,Y,2018
1,015009,402,Percentage of long-stay residents who self-rep...,Long Stay,0.00000,0.00000,2.321723,Y,2018
2,015009,403,Percentage of high risk long-stay residents wi...,Long Stay,0.00000,2.43902,0.000000,Y,2018

Displaying DataFrame for QualityMsrMDS_2019:

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,2,Percentage of SNF residents with pressure ulce...,Short Stay,NaN,NaN,NaN,Y,2019
1,015009,401,Percentage of long-stay residents whose need f...,Long Stay,12.19512,7.89474,8.33333,Y,2019
2,015009,404,Percentage of long-stay residents who lose too...,Long Stay,0.00000,2.32558,6.97674,N,2019

Displaying DataFrame for QualityMsrMDS_2020:

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,401,Percentage of long-stay residents whose need f...,Long Stay,8.33333,7.69231,16.21622,Y,2020
1,015009,404,Percentage of long-stay residents who lose too...,Long Stay,6.97674,5.00000,2.50000,N,2020
2,015009,405,Percentage of low risk long-stay residents who...,Long Stay,NaN,NaN,NaN,N,2020

Displaying DataFrame for QualityMsrMDS_2021:

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,401,Percentage of long-stay residents whose need f...,Long Stay,7.89474,18.18182,15.00000,Y,2021
1,015009,404,Percentage of long-stay residents who lose too...,Long Stay,12.50000,4.65116,9.09091,N,2021
2,015009,405,Percentage of low risk long-stay residents who...,Long Stay,NaN,NaN,NaN,N,2021

In [40]:
#Merging the files
QualityMeasure = pd.concat(filtered_quality_dfs.values(), ignore_index=True)
display(QualityMeasure.head())

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,15009,401,Percent of Long Stay Residents Whose Need for ...,Long Stay,5.555560,24.324320,16.66667,Y,2015
1,15009,402,Percent of Long Stay Residents Who Self Report...,Long Stay,11.498838,4.930037,NaN,Y,2015
2,15009,403,Percent of High Risk Long Stay Residents With ...,Long Stay,0.000000,5.405410,2.94118,Y,2015
3,15009,404,Percent of Long Stay Residents Who Lose Too Mu...,Long Stay,11.363640,17.777780,11.90476,N,2015
4,15009,405,Percent of Low Risk Long Stay Residents Who Lo...,Long Stay,NaN,NaN,NaN,N,2015

In [42]:
QualityMeasure.to_csv("QualityMeasure.csv", index=False)

In [45]:
display(filtered_quality_dfs["QualityMsrMDS_2020"])

,provnum,msr_cd,msr_descr,stay_type,q1_measure_score,q2_measure_score,q3_measure_score,five_star_msr,year
0,015009,401,Percentage of long-stay residents whose need f...,Long Stay,8.33333,7.69231,16.216220,Y,2020
1,015009,404,Percentage of long-stay residents who lose too...,Long Stay,6.97674,5.00000,2.500000,N,2020
2,015009,405,Percentage of low risk long-stay residents who...,Long Stay,NaN,NaN,NaN,N,2020
3,015009,406,Percentage of long-stay residents with a cathe...,Long Stay,0.00000,0.00000,1.754017,Y,2020
4,015009,407,Percentage of long-stay residents with a urina...,Long Stay,8.33333,2.12766,0.000000,Y,2020
...,...,...,...,...,...,...,...,...,...
276259,686124,452,Percentage of long-stay residents who received...,Long Stay,NaN,NaN,NaN,N,2020
276260,686124,453,Percentage of high risk long-stay residents wi...,Long Stay,NaN,NaN,NaN,Y,2020
276261,686124,454,Percentage of long-stay residents assessed and...,Long Stay,NaN,NaN,NaN,N,2020
276262,686124,471,Percentage of short-stay residents who made im...,Short Stay,NaN,NaN,NaN,Y,2020
276263,686124,472,Percentage of short-stay residents who were as...,Short Stay,NaN,NaN,NaN,N,2020

In [46]:
 display(quality_dfs["QualityMsrMDS_2020"])

,provnum,provider_name,provider_address,provider_city,provider_state,provider_zip_code,msr_cd,msr_descr,stay_type,q1_measure_score,...,q3_measure_score,footnote_for_q3_measure_score,q4_measure_score,footnote_for_q4_measure_score,measure_score_4qtr_avg,footnote_for_four_quarter_average_score,five_star_msr,measure_period,location,processing_date
0,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,401,Percentage of long-stay residents whose need f...,Long Stay,8.33333,...,16.216220,NaN,25.000000,NaN,14.189190,NaN,Y,2019Q1-2019Q4,"701 MONROE STREET NW, RUSSELLVILLE, AL, 35653",2020-11-01
1,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,404,Percentage of long-stay residents who lose too...,Long Stay,6.97674,...,2.500000,NaN,2.777780,NaN,4.402515,NaN,N,2019Q1-2019Q4,"701 MONROE STREET NW, RUSSELLVILLE, AL, 35653",2020-11-01
2,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,405,Percentage of low risk long-stay residents who...,Long Stay,NaN,...,NaN,9.0,NaN,9.0,29.310345,NaN,N,2019Q1-2019Q4,"701 MONROE STREET NW, RUSSELLVILLE, AL, 35653",2020-11-01
3,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,406,Percentage of long-stay residents with a cathe...,Long Stay,0.00000,...,1.754017,NaN,2.896903,NaN,1.122400,NaN,Y,2019Q1-2019Q4,"701 MONROE STREET NW, RUSSELLVILLE, AL, 35653",2020-11-01
4,015009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,407,Percentage of long-stay residents with a urina...,Long Stay,8.33333,...,0.000000,NaN,0.000000,NaN,2.717391,NaN,Y,2019Q1-2019Q4,"701 MONROE STREET NW, RUSSELLVILLE, AL, 35653",2020-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276259,686124,HARMONY HEALTH CENTER,9820 N KENDALL DRIVE,MIAMI,FL,33176,452,Percentage of long-stay residents who received...,Long Stay,NaN,...,NaN,9.0,33.846150,NaN,34.146339,NaN,N,2019Q1-2019Q4,"9820 N KENDALL DRIVE, MIAMI, FL, 33176",2020-11-01
276260,686124,HARMONY HEALTH CENTER,9820 N KENDALL DRIVE,MIAMI,FL,33176,453,Percentage of high risk long-stay residents wi...,Long Stay,NaN,...,NaN,9.0,10.606060,NaN,11.249999,NaN,Y,2019Q1-2019Q4,"9820 N KENDALL DRIVE, MIAMI, FL, 33176",2020-11-01
276261,686124,HARMONY HEALTH CENTER,9820 N KENDALL DRIVE,MIAMI,FL,33176,454,Percentage of long-stay residents assessed and...,Long Stay,NaN,...,NaN,10.0,NaN,10.0,NaN,10.0,N,2019Q1-2019Q4,"9820 N KENDALL DRIVE, MIAMI, FL, 33176",2020-11-01
276262,686124,HARMONY HEALTH CENTER,9820 N KENDALL DRIVE,MIAMI,FL,33176,471,Percentage of short-stay residents who made im...,Short Stay,NaN,...,NaN,9.0,48.634528,NaN,48.634528,NaN,Y,2019Q1-2019Q4,"9820 N KENDALL DRIVE, MIAMI, FL, 33176",2020-11-01
276263,686124,HARMONY HEALTH CENTER,9820 N KENDALL DRIVE,MIAMI,FL,33176,472,Percentage of short-stay residents who were as...,Short Stay,NaN,...,NaN,10.0,NaN,10.0,NaN,10.0,N,2019Q1-2019Q4,"9820 N KENDALL DRIVE, MIAMI, FL, 33176",2020-11-01

# Penalties Cleaning

In [8]:
# Using the functions above, loading the files and loweringcase and stripping off the space for the column names
 def load_csv(filename):
    try:
        return pd.read_csv(filename, encoding="utf-8", low_memory=False)
    except UnicodeDecodeError:
          return pd.read_csv(filename, encoding="ISO-8859-1",low_memory=False)

# Function to standardize column names
def standardize_columns(df):
    df.columns = df.columns.str.lower().str.replace(' ','_')
    return df
    
penalties_file_paths = [
    "Penalties_2015.csv",
    "Penalties_2016.csv",
    "Penalties_2017.csv",
    "Penalties_2018.csv",
    "Penalties_2019.csv",
    "Penalties_2020.csv",
    "Penalties_2021.csv"
]

penalty_dfs = {}

for file in penalties_file_paths:
    year = file.split("_")[-1].split(".")[0]   
    df = load_csv(file)
    df = standardize_columns(df)
    penalty_dfs[f"Penalties_{year}"] = df

display(penalty_dfs["Penalties_2020"].head(3))

,federal_provider_number,provider_name,provider_address,provider_city,provider_state,provider_zip_code,penalty_date,penalty_type,fine_amount,payment_denial_start_date,payment_denial_length_in_days,location,processing_date
0,15015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CALLA,AL,35111,2018-04-19,Fine,22903.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CA...",2020-11-01
1,15015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CALLA,AL,35111,2019-05-02,Fine,6708.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CA...",2020-11-01
2,15019,MERRY WOOD LODGE,P O BOX 130,ELMORE,AL,36025,2019-03-02,Fine,78677.0,NaN,NaN,"P O BOX 130,ELMORE,AL,36025",2020-11-01

In [10]:
# Rename the column names in 2020 and 2021
penalty_column_mapping = { 
    'federal_provider_number': 'provnum',
    'provider_name': 'provname',
    'provider_address': 'address',
    'provider_city': 'city',
    'provider_state': 'state',
    'provider_zip_code': 'zip',
    'penalty_date': 'pnlty_date',
    'penalty_type':'pnlty_type',
    'fine_amount': 'fine_amt',
}

penalty_dfs["Penalties_2020"] = penalty_dfs["Penalties_2020"].rename(columns=penalty_column_mapping)
penalty_dfs["Penalties_2021"] = penalty_dfs["Penalties_2021"].rename(columns=penalty_column_mapping)
display(penalty_dfs["Penalties_2020"].head(5))
display(penalty_dfs["Penalties_2021"].head(5))

,provnum,provname,address,city,state,zip,pnlty_date,pnlty_type,fine_amt,payden_strt_dt,payment_denial_length_in_days,location,processing_date
0,15015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CALLA,AL,35111,2018-04-19,Fine,22903.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CA...",2020-11-01
1,15015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CALLA,AL,35111,2019-05-02,Fine,6708.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY P O BOX 97,MC CA...",2020-11-01
2,15019,MERRY WOOD LODGE,P O BOX 130,ELMORE,AL,36025,2019-03-02,Fine,78677.0,NaN,NaN,"P O BOX 130,ELMORE,AL,36025",2020-11-01
3,15028,KELLER LANDING,813 KELLER LANE,TUSCUMBIA,AL,35674,2018-09-13,Fine,6500.0,NaN,NaN,"813 KELLER LANE,TUSCUMBIA,AL,35674",2020-11-01
4,15031,MITCHELL-HOLLINGSWORTH NURSING & REHABILITATION,805 FLAGG CIRCLE,FLORENCE,AL,35631,2017-11-17,Fine,31639.0,NaN,NaN,"805 FLAGG CIRCLE,FLORENCE,AL,35631",2020-11-01

,provnum,provname,address,city,state,zip,pnlty_date,pnlty_type,fine_amt,payden_strt_dt,payment_denial_length_in_days,location,processing_date
0,015010,COOSA VALLEY HEALTHCARE CENTER,260 WEST WALNUT STREET,SYLACAUGA,AL,35150,2020-08-31,Fine,650.0,NaN,NaN,"260 WEST WALNUT STREET,SYLACAUGA,AL,35150",2021-11-01
1,015015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111,2021-02-08,Fine,650.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111",2021-11-01
2,015015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111,2021-06-28,Fine,975.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111",2021-11-01
3,015015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111,2019-05-02,Fine,6708.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111",2021-11-01
4,015015,PLANTATION MANOR NURSING HOME,6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111,2018-04-19,Fine,22903.0,NaN,NaN,"6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111",2021-11-01

In [12]:
# Filtering out the chosen columns
penalty_chosen_columns = [
    'provnum','pnlty_date','pnlty_type','fine_amt'
]

filtered_penalty_dfs = {}

for year in range(2015, 2022):
    year_key = f"Penalties_{year}"

    if year_key in penalty_dfs:
        filtered_penalty_dfs[year_key] = penalty_dfs[year_key][penalty_chosen_columns]
display(filtered_penalty_dfs["Penalties_2020"].head(3))

   provnum  pnlty_date pnlty_type  fine_amt
0    15015  2018-04-19       Fine   22903.0
1    15015  2019-05-02       Fine    6708.0
2    15019  2019-03-02       Fine   78677.0

In [13]:
#Adding a year column
for year_key, df in filtered_penalty_dfs.items():
    year = int(year_key.split('_')[-1])  # Get the year from the key
    df['year'] = year  
for year_key, df in filtered_penalty_dfs.items():
    print(f"Displaying DataFrame for {year_key}:")
    display(df.head(3))

Displaying DataFrame for Penalties_2015:

/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/2485914017.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

   provnum  pnlty_date pnlty_type  fine_amt  year
0    15019  2014-10-02       Fine    6692.0  2015
1    15037  2015-05-21       Fine   13813.0  2015
2    15053  2014-05-16       Fine  142870.0  2015

Displaying DataFrame for Penalties_2016:

   provnum  pnlty_date      pnlty_type  fine_amt  year
0    15010  2016-05-26            Fine   15259.0  2016
1    15010  2016-05-26  Payment Denial       NaN  2016
2    15019  2014-10-02            Fine    6600.0  2016

Displaying DataFrame for Penalties_2017:

   provnum  pnlty_date      pnlty_type  fine_amt  year
0    15010  2016-05-26            Fine   15259.0  2017
1    15010  2016-05-26  Payment Denial       NaN  2017
2    15031  2015-04-04            Fine  146070.0  2017

Displaying DataFrame for Penalties_2018:

   provnum  pnlty_date      pnlty_type  fine_amt  year
0    15010  2016-05-26            Fine   15259.0  2018
1    15010  2016-05-26  Payment Denial       NaN  2018
2    15015  2018-04-19            Fine   22903.0  2018

Displaying DataFrame for Penalties_2019:

   provnum  pnlty_date pnlty_type  fine_amt  year
0    15015  2018-04-19       Fine   22903.0  2019
1    15015  2019-05-02       Fine    6708.0  2019
2    15019  2019-03-02       Fine   78677.0  2019

Displaying DataFrame for Penalties_2020:

   provnum  pnlty_date pnlty_type  fine_amt  year
0    15015  2018-04-19       Fine   22903.0  2020
1    15015  2019-05-02       Fine    6708.0  2020
2    15019  2019-03-02       Fine   78677.0  2020

Displaying DataFrame for Penalties_2021:

  provnum  pnlty_date pnlty_type  fine_amt  year
0  015010  2020-08-31       Fine     650.0  2021
1  015015  2021-02-08       Fine     650.0  2021
2  015015  2021-06-28       Fine     975.0  2021

In [14]:
#Merging the files
Penalty = pd.concat(filtered_penalty_dfs.values(), ignore_index=True)
display(Penalty.head())

  provnum  pnlty_date      pnlty_type  fine_amt  year
0   15019  2014-10-02            Fine    6692.0  2015
1   15037  2015-05-21            Fine   13813.0  2015
2   15053  2014-05-16            Fine  142870.0  2015
3   15053  2014-05-16  Payment Denial       NaN  2015
4   15060  2015-04-16            Fine   58273.0  2015

In [16]:
Penalty.to_csv("Penalties.csv",index=False)

# HD Cleaning

In [24]:
#List of file paths
HD_file_paths = [
    "HD2015.csv",
    "HD2016.csv",
    "HD2017.csv",
    "HD2018.csv",
    "HD2019.csv",
    "HD2020.csv",
    "HD2021.csv"
]

 
HD_dfs = {}

 
for file in HD_file_paths:
     
    year = file[-8:-4]   
    
    df = load_csv(file)
    df = standardize_columns(df)

     
    df['year'] = int(year)  
    
    HD_dfs[f"HD{year}"] = df

    

 
display(HD_dfs["HD2020"].head(3))

  provnum  sum_of_hd_code  count_of_hd_code  year
0   15009              12                 3  2020
1   15010              52                12  2020
2   15012              55                11  2020

In [25]:
print(HD_dfs.keys())

dict_keys(['HD2015', 'HD2016', 'HD2017', 'HD2018', 'HD2019', 'HD2020', 'HD2021'])

In [29]:
#Merging the files
HDs = pd.concat(HD_dfs.values(), ignore_index=True)
display(HDs.head())

  provnum  sum_of_hd_code  count_of_hd_code  year
0    1700             208                43  2015
1   15009              76                17  2015
2   15010             122                25  2015
3   15012              73                16  2015
4   15014             139                32  2015

In [32]:
HDs.to_csv("HDs.csv", index=False)

In [47]:
HDs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107516 entries, 0 to 107515
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   provnum           107516 non-null  object
 1   sum_of_hd_code    107516 non-null  int64
 2   count_of_hd_code  107516 non-null  int64
 3   year              107516 non-null  int64
dtypes: int64(3), object(1)
memory usage: 3.3+ MB

In [52]:
CostReport = pd.read_csv(r"/Users/brandonnguyen/Desktop/ACE_Project/CostReport.csv", encoding="utf-8", low_memory=False)

In [53]:
CostReport

,rpt_rec_num,provider_ccn,rural_versus_urban,gross_revenue,inpatient_revenue,net_income,net_income_from_patients,net_patient_revenue,number_of_beds,total_bed_days_available,total_costs,total_income,year
0,1089712,495134,U,1800296.0,1800296.0,311430.0,311308.0,1520630.0,120.0,7320.0,211585.0,311431.0,2015
1,1091410,75417,U,2843541.0,2843541.0,-588469.0,-588476.0,2416825.0,114.0,8550.0,207903.0,-588469.0,2015
2,1093283,165252,R,613243.0,613243.0,-47859.0,-39135.0,600033.0,60.0,5520.0,22920.0,-30743.0,2015
3,1095547,225497,U,1935277.0,1935277.0,-63638.0,-66306.0,1378163.0,141.0,8601.0,158386.0,-63638.0,2015
4,1095966,265161,U,818175.0,818175.0,-1613.0,-6087.0,769155.0,172.0,5332.0,56556.0,-1613.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106264,1365869,505453,U,9351892.0,9351892.0,-959762.0,-1088771.0,8661500.0,100.0,36500.0,357017.0,-959762.0,2021
106265,1365888,675765,U,14843070.0,14843070.0,-840502.0,-2103698.0,12808233.0,388.0,141620.0,2312210.0,-840502.0,2021
106266,1365889,675932,U,9009085.0,8599523.0,1916693.0,1391159.0,7477706.0,126.0,45990.0,1111339.0,1916693.0,2021
106267,1365890,675956,U,12738362.0,12738362.0,1188367.0,-2549765.0,12738362.0,206.0,75190.0,1250246.0,1188367.0,2021
106268,1365892,676481,R,9991720.0,9991720.0,739852.0,454984.0,9991720.0,130.0,47450.0,1493029.0,739852.0,2021

In [66]:
CostReport = CostReport.rename(columns= {
                'rpt_rec_num' : 'reportNum',
                'provider_ccn': 'provnum'
})

In [67]:
CostReport

,reportNum,provnum,rural_versus_urban,gross_revenue,inpatient_revenue,net_income,net_income_from_patients,net_patient_revenue,number_of_beds,total_bed_days_available,total_costs,total_income,year
0,1089712,495134,U,1800296.0,1800296.0,311430.0,311308.0,1520630.0,120.0,7320.0,211585.0,311431.0,2015
1,1091410,75417,U,2843541.0,2843541.0,-588469.0,-588476.0,2416825.0,114.0,8550.0,207903.0,-588469.0,2015
2,1093283,165252,R,613243.0,613243.0,-47859.0,-39135.0,600033.0,60.0,5520.0,22920.0,-30743.0,2015
3,1095547,225497,U,1935277.0,1935277.0,-63638.0,-66306.0,1378163.0,141.0,8601.0,158386.0,-63638.0,2015
4,1095966,265161,U,818175.0,818175.0,-1613.0,-6087.0,769155.0,172.0,5332.0,56556.0,-1613.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106264,1365869,505453,U,9351892.0,9351892.0,-959762.0,-1088771.0,8661500.0,100.0,36500.0,357017.0,-959762.0,2021
106265,1365888,675765,U,14843070.0,14843070.0,-840502.0,-2103698.0,12808233.0,388.0,141620.0,2312210.0,-840502.0,2021
106266,1365889,675932,U,9009085.0,8599523.0,1916693.0,1391159.0,7477706.0,126.0,45990.0,1111339.0,1916693.0,2021
106267,1365890,675956,U,12738362.0,12738362.0,1188367.0,-2549765.0,12738362.0,206.0,75190.0,1250246.0,1188367.0,2021
106268,1365892,676481,R,9991720.0,9991720.0,739852.0,454984.0,9991720.0,130.0,47450.0,1493029.0,739852.0,2021

In [69]:
CostReport.info()
CostReport.sample()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106269 entries, 0 to 106268
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   reportNum                 106269 non-null  int64
 1   provnum                   106269 non-null  int64
 2   rural_versus_urban        104082 non-null  object
 3   gross_revenue             103986 non-null  float64
 4   inpatient_revenue         103985 non-null  float64
 5   net_income                103909 non-null  float64
 6   net_income_from_patients  104188 non-null  float64
 7   net_patient_revenue       103990 non-null  float64
 8   number_of_beds            103867 non-null  float64
 9   total_bed_days_available  103860 non-null  float64
 10  total_costs               104131 non-null  float64
 11  total_income              103961 non-null  float64
 12  year                      106269 non-null  int64
dtypes: float64(9), int64(3), object(1)
memory usage: 10.5+ MB

,reportNum,provnum,rural_versus_urban,gross_revenue,inpatient_revenue,net_income,net_income_from_patients,net_patient_revenue,number_of_beds,total_bed_days_available,total_costs,total_income,year
96419,1330077,365766,R,6708982.0,4940992.0,-48212.0,-621767.0,4970017.0,95.0,34675.0,709591.0,-48531.0,2021

In [71]:
ProviderInfo = pd.read_csv(r"/Users/brandonnguyen/Desktop/ACE_Project/ProviderInfo.csv", encoding="utf-8", low_memory=False)

In [82]:
CostReport.to_csv("CostReport.csv",index=False)

# Cost Report Cleaning

In [83]:
costReport_2015 = pd.read_csv(r"/Users/brandonnguyen/Desktop/ACE_Project/2015_CostReport.csv")

/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/3944741479.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  costReport_2015 = pd.read_csv(r"/Users/brandonnguyen/Desktop/ACE_Project/2015_CostReport.csv")

In [85]:
costreport_file_paths = [
    "2015_CostReport.csv",
    "2016_CostReport.csv",
    "2017_CostReport.csv",
    "2018_CostReport.csv",
    "2019_CostReport.csv",
    "2020_CostReport.csv",
    "2021_CostReport.csv"
]

costreport_dfs = {}

for file in costreport_file_paths:
    year = file.split("_")[0]   
    df = load_csv(file)
    df = standardize_columns(df)
    costreport_dfs[f"{year}_CostReport"] = df

display(costreport_dfs["2020_CostReport"].head(1))

,rpt_rec_num,provider_ccn,facility_name,street_address,city,state_code,zip_code,county,medicare_cbsa_number,rural_versus_urban,...,less_contractual_allowance_and_discounts_on_patients'_accounts,net_patient_revenue,less_total_operating_expense,net_income_from_service_to_patients,total_other_income,total_income,net_income,inpatient_pps_amount,nursing_and_allied_health_education_activities,allowable_bad_debts
0,1254744,75031,GLEN HILL CENTER,1 GLEN HILL ROAD,DANBURY,CT,06811,FAIRFIELD,14860.0,U,...,712087.0,1083396.0,1023062.0,60334.0,50.0,60384.0,60384.0,476754.0,NaN,4814.0

In [90]:
# Filtering out the chosen columns
costreport_chosen_columns = [
    'rpt_rec_num', 'provider_ccn',
    'rural_versus_urban','fiscal_year_begin_date',
    'fiscal_year_end_date','gross_revenue','inpatient_revenue',
    'net_income','net_patient_revenue','number_of_beds','total_assets',
    'total_bed_days_available','total_costs','total_discharges_total','total_income',
    'total_liabilities'
]

filtered_costreport_dfs = {}

for year in range(2015, 2022):
    year_key = f"{year}_CostReport"

    if year_key in costreport_dfs:
        filtered_costreport_dfs[year_key] = costreport_dfs[year_key][costreport_chosen_columns]
display(filtered_costreport_dfs["2020_CostReport"].head(1))

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities
0,1254744,75031,U,10/01/2019,10/31/2019,1795483.0,1795483.0,60384.0,1083396.0,100.0,14400312.0,3100.0,195203.0,57.0,60384.0,9703933.0

In [93]:
#Adding a year column
for year_key, df in filtered_costreport_dfs.items():
    year = int(year_key.split('_')[0])  # Get the year from the key
    df['year'] = year  
for year_key, df in filtered_costreport_dfs.items():
    print(f"Displaying DataFrame for {year_key}:")
    display(df.head(1))

Displaying DataFrame for 2015_CostReport:

/var/folders/7t/7qf1whc969jcpbccjdpbv57r0000gn/T/ipykernel_30411/1044369493.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1089712,495134,U,11/1/2014,12/31/2014,1800296.0,1800296.0,311430.0,1520630.0,120.0,765020.0,7320.0,211585.0,49.0,311431.0,453590.0,2015

Displaying DataFrame for 2016_CostReport:

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1123428,75061,U,10/1/2015,11/15/2015,2579409.0,2579409.0,-206465.0,2437182.0,156.0,1183692.0,7176.0,261326.0,38.0,-206465.0,725237.0,2016

Displaying DataFrame for 2017_CostReport:

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1156385,225718,U,10/1/2016,10/31/2016,1738186.0,1713518.0,47518.0,1457745.0,142.0,13893288.0,4402.0,153260.0,52.0,47518.0,21486208.0,2017

Displaying DataFrame for 2018_CostReport:

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1189589,345131,U,10/1/2017,11/30/2017,1540749.0,1540749.0,-603005.0,989911.0,120.0,1109965.0,7320.0,189202.0,40.0,-603005.0,5829747.0,2018

Displaying DataFrame for 2019_CostReport:

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1226920,525009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

Displaying DataFrame for 2020_CostReport:

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1254744,75031,U,10/01/2019,10/31/2019,1795483.0,1795483.0,60384.0,1083396.0,100.0,14400312.0,3100.0,195203.0,57.0,60384.0,9703933.0,2020

Displaying DataFrame for 2021_CostReport:

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1289595,305005,U,11/01/2020,12/31/2020,2631058.0,2631058.0,298540.0,2736656.0,290.0,4096609.0,17690.0,359371.0,53.0,298540.0,3553045.0,2021

In [95]:
#Merging the files
CostReport = pd.concat(filtered_costreport_dfs.values(), ignore_index=True)
display(CostReport.head())

,rpt_rec_num,provider_ccn,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1089712,495134,U,11/1/2014,12/31/2014,1800296.0,1800296.0,311430.0,1520630.0,120.0,765020.0,7320.0,211585.0,49.0,311431.0,453590.0,2015
1,1091410,75417,U,10/1/2014,12/14/2014,2843541.0,2843541.0,-588469.0,2416825.0,114.0,1687456.0,8550.0,207903.0,59.0,-588469.0,6584403.0,2015
2,1093283,165252,R,10/1/2014,12/31/2014,613243.0,613243.0,-47859.0,600033.0,60.0,244239.0,5520.0,22920.0,9.0,-30743.0,192098.0,2015
3,1095547,225497,U,11/1/2014,12/31/2014,1935277.0,1935277.0,-63638.0,1378163.0,141.0,1830758.0,8601.0,158386.0,32.0,-63638.0,1824376.0,2015
4,1095966,265161,U,12/1/2014,12/31/2014,818175.0,818175.0,-1613.0,769155.0,172.0,807209.0,5332.0,56556.0,28.0,-1613.0,808822.0,2015

In [97]:
CostReport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106269 entries, 0 to 106268
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   rpt_rec_num               106269 non-null  int64
 1   provider_ccn              106269 non-null  int64
 2   rural_versus_urban        104082 non-null  object
 3   fiscal_year_begin_date    104197 non-null  object
 4   fiscal_year_end_date      104197 non-null  object
 5   gross_revenue             103986 non-null  float64
 6   inpatient_revenue         103985 non-null  float64
 7   net_income                103909 non-null  float64
 8   net_patient_revenue       103990 non-null  float64
 9   number_of_beds            103867 non-null  float64
 10  total_assets              103490 non-null  float64
 11  total_bed_days_available  103860 non-null  float64
 12  total_costs               104131 non-null  float64
 13  total_discharges_total    103912 non-null  float64
 14  total_income              103961 non-null  float64
 15  total_liabilities         103252 non-null  float64
 16  year                      106269 non-null  int64
dtypes: float64(11), int64(3), object(3)
memory usage: 13.8+ MB

In [98]:
# Convert these columns to string
string_cols = ['provider_ccn', 'rpt_rec_num']
for col in string_cols:
    CostReport[col] = CostReport[col].astype(str)

# Convert these columns to datetime
date_cols = ['fiscal_year_begin_date', 'fiscal_year_end_date']
for col in date_cols:
    CostReport[col] = pd.to_datetime(CostReport[col], errors='coerce')

In [100]:
CostReport = CostReport.rename(columns={'provider_ccn': 'provnum'})
CostReport = CostReport.rename(columns={'rpt_rec_num': 'reportnum'})
CostReport.head(1)

,reportnum,provnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1089712,495134,U,2014-11-01,2014-12-31,1800296.0,1800296.0,311430.0,1520630.0,120.0,765020.0,7320.0,211585.0,49.0,311431.0,453590.0,2015

In [100]:
CostReport = CostReport.rename(columns={'provider_ccn': 'provnum'})
CostReport = CostReport.rename(columns={'rpt_rec_num': 'reportnum'})
CostReport.head(1)

,reportnum,provnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1089712,495134,U,2014-11-01,2014-12-31,1800296.0,1800296.0,311430.0,1520630.0,120.0,765020.0,7320.0,211585.0,49.0,311431.0,453590.0,2015

In [100]:
CostReport = CostReport.rename(columns={'provider_ccn': 'provnum'})
CostReport = CostReport.rename(columns={'rpt_rec_num': 'reportnum'})
CostReport.head(1)

,reportnum,provnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,year
0,1089712,495134,U,2014-11-01,2014-12-31,1800296.0,1800296.0,311430.0,1520630.0,120.0,765020.0,7320.0,211585.0,49.0,311431.0,453590.0,2015

In [105]:
CostReport.to_csv("CostReport.csv", index=False)

# ProviderInfo Cleaning

In [106]:
ProviderInfo = pd.read_csv(r"/Users/brandonnguyen/Desktop/ACE_Project/ProviderInfo.csv")

In [109]:
ProviderInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108587 entries, 0 to 108586
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   provnum          108587 non-null  object
 1   provname         108587 non-null  object
 2   address          108587 non-null  object
 3   city             108587 non-null  object
 4   state            108587 non-null  object
 5   zip              108587 non-null  int64
 6   ownership        108585 non-null  object
 7   restot           107344 non-null  float64
 8   overall_rating   107232 non-null  float64
 9   survey_rating    107232 non-null  float64
 10  quality_rating   107043 non-null  float64
 11  staffing_rating  105009 non-null  float64
 12  adj_total        103524 non-null  float64
 13  year             108587 non-null  int64
dtypes: float64(6), int64(2), object(6)
memory usage: 11.6+ MB

# Merging ProviderInfo with CostReport

In [288]:
# Make sure the data type for provnum is char(6)
ProviderInfo['provnum'] = ProviderInfo['provnum'].astype(str).str.zfill(6)
CostReport['provnum'] = CostReport['provnum'].astype(str).str.zfill(6)

In [290]:
nursing_home_data = ProviderInfo.merge(CostReport, 
                                          left_on=['provnum', 'year'], 
                                          right_on=['provnum', 'year'], 
                                          how='right')
nursing_home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106269 entries, 0 to 106268
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   provnum                   106269 non-null  object
 1   provname                  105739 non-null  object
 2   address                   105739 non-null  object
 3   city                      105739 non-null  object
 4   state                     105739 non-null  object
 5   zip                       105739 non-null  float64
 6   ownership                 105737 non-null  object
 7   restot                    104771 non-null  float64
 8   overall_rating            104444 non-null  float64
 9   survey_rating             104444 non-null  float64
 10  quality_rating            104355 non-null  float64
 11  staffing_rating           102682 non-null  float64
 12  adj_total                 101470 non-null  float64
 13  year                      106269 non-null  int64
 14  reportnum                 106269 non-null  object
 15  rural_versus_urban        104082 non-null  object
 16  fiscal_year_begin_date    104197 non-null  datetime64[ns]
 17  fiscal_year_end_date      104197 non-null  datetime64[ns]
 18  gross_revenue             103986 non-null  float64
 19  inpatient_revenue         103985 non-null  float64
 20  net_income                103909 non-null  float64
 21  net_patient_revenue       103990 non-null  float64
 22  number_of_beds            103867 non-null  float64
 23  total_assets              103490 non-null  float64
 24  total_bed_days_available  103860 non-null  float64
 25  total_costs               104131 non-null  float64
 26  total_discharges_total    103912 non-null  float64
 27  total_income              103961 non-null  float64
 28  total_liabilities         103252 non-null  float64
dtypes: datetime64[ns](2), float64(18), int64(1), object(8)
memory usage: 23.5+ MB

In [295]:
nursing_home_data[nursing_home_data['provnum']=='075423'].sample(1)

,provnum,provname,address,city,state,zip,ownership,restot,overall_rating,survey_rating,quality_rating,staffing_rating,adj_total,year,reportnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities
83497,075423,DAVIS PLACE,111 WESTCOTT RD,DANIELSON,CT,6239.0,For profit - Limited Liability company,160.2,5.0,5.0,4.0,NaN,NaN,2020,1307675,U,2019-10-01,2020-09-30,23773049.0,23773049.0,2440845.0,19533672.0,190.0,8619995.0,69540.0,2105090.0,283.0,2440845.0,5981045.0

# Merge HDs with nursing_home_data

In [296]:
HDs['provnum'] = HDs['provnum'].astype(str).str.zfill(6)

In [297]:
nursing_home_data = nursing_home_data.merge(HDs,
                                            left_on=['provnum','year'],
                                            right_on=['provnum','year'],
                                            how='left')

In [298]:
nursing_home_data.sample(1)

,provnum,provname,address,city,state,zip,ownership,restot,overall_rating,survey_rating,quality_rating,staffing_rating,adj_total,year,reportnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,sum_of_hd_code,count_of_hd_code
61260,035183,RIO VISTA POST ACUTE AND REHABILITATION,10323 WEST OLIVE AVENUE,PEORIA,AZ,85345.0,Non profit - Corporation,84.4,1.0,1.0,3.0,3.0,3.77337,2019,1244770,U,2019-01-01,2019-04-30,3330692.0,3330692.0,92693.0,2558104.0,150.0,7098424.0,18000.0,186385.0,169.0,101774.0,1423380.0,173.0,36.0

In [340]:
nursing_home_data['provnum'] = nursing_home_data['provnum'].astype(str).str.zfill(6)

# Annualize the data in cost report

In [300]:
nursing_home_data['fiscal_period'] = (
    nursing_home_data['fiscal_year_end_date'] - nursing_home_data['fiscal_year_begin_date']
).dt.days

In [301]:
 nursing_home_data.head(1)

,provnum,provname,address,city,state,zip,ownership,restot,overall_rating,survey_rating,quality_rating,staffing_rating,adj_total,year,reportnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,sum_of_hd_code,count_of_hd_code,fiscal_period
0,495134,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Corporation,102.0,1.0,1.0,2.0,3.0,3.80787,2015,1089712,U,2014-11-01,2014-12-31,1800296.0,1800296.0,311430.0,1520630.0,120.0,765020.0,7320.0,211585.0,49.0,311431.0,453590.0,318.0,71.0,60.0

In [302]:
columns_to_annualize = [
    'gross_revenue', 'inpatient_revenue', 'net_income', 'net_patient_revenue',
    'total_assets', 'total_costs', 'total_income', 'total_liabilities'
]

for col in columns_to_annualize:
    nursing_home_data[f'annualized_{col}'] = (
        nursing_home_data[col] / nursing_home_data['fiscal_period'] * 365
    )

In [303]:
nursing_home_data.sample(1)

,provnum,provname,address,city,state,zip,ownership,restot,overall_rating,survey_rating,quality_rating,staffing_rating,adj_total,year,reportnum,rural_versus_urban,fiscal_year_begin_date,fiscal_year_end_date,gross_revenue,inpatient_revenue,net_income,net_patient_revenue,number_of_beds,total_assets,total_bed_days_available,total_costs,total_discharges_total,total_income,total_liabilities,sum_of_hd_code,count_of_hd_code,fiscal_period,annualized_gross_revenue,annualized_inpatient_revenue,annualized_net_income,annualized_net_patient_revenue,annualized_total_assets,annualized_total_costs,annualized_total_income,annualized_total_liabilities
9012,155148,NORTH PARK NURSING CENTER,650 FAIRWAY DR,EVANSVILLE,IN,47710.0,Government - City/county,94.0,4.0,2.0,5.0,4.0,3.99228,2015,1150529,U,2015-01-01,2015-12-31,13234989.0,13234989.0,-339335.0,8832852.0,103.0,811192501.0,37595.0,1411500.0,185.0,-339335.0,780308481.0,231.0,52.0,364.0,1.327135e+07,1.327135e+07,-340267.239011,8.857118e+06,8.134211e+08,1.415378e+06,-340267.239011,7.824522e+08

In [304]:
# Drop duplicates
nursing_home_data = nursing_home_data.drop_duplicates()

In [306]:
nursing_home_data.to_csv("nursing_home_data.csv",index=False)

# Filling missing values

In [342]:
#Check how many null values are in there before filling
nursing_home_data['provname'].isna().sum()

np.int64(530)

In [308]:
pd.set_option('display.max_columns', None)

In [344]:
def backfill_provider_info(df):
    """
    Backfills missing provider information using the most recent non-null values 
    for the same provider (provnum) across multiple years.

    Args:
        df (pd.DataFrame): Input dataframe with provider records (multiple years).

    Returns:
        pd.DataFrame: DataFrame with missing provider information backfilled.
    """
    df = df.copy()
    provider_cols = ['provname', 'address', 'city', 'state', 'zip', 'ownership']

    df_sorted = df.sort_values(by=['provnum', 'year'])

    df_filled = df_sorted.groupby('provnum')[provider_cols].ffill()

    df[provider_cols] = df_filled
    
    return df

nursing_home_data_filled = backfill_provider_info(nursing_home_data)

# # Check the result
# print(nursing_home_data_filled.head())

In [345]:
 # Check missing values after backfilling
provider_cols = ['provname']
print(nursing_home_data_filled[provider_cols].isna().sum())

provname    136
dtype: int64

# Consolidate the providers who have multiple fiscal periods in a year

In [326]:
import numpy as np

def consolidate_annual_reports(df: pd.DataFrame) -> pd.DataFrame:
    # Filter out invalid fiscal periods
    df_valid = df[df['fiscal_period'] > 0].copy()
    
    # Identify annualized columns (those starting with 'annualized_')
    annualized_cols = [col for col in df_valid.columns if col.startswith('annualized_')]

    # Choose static fields you want to retain (e.g., provname, address, etc.)
    static_cols = ['provname', 'address', 'city', 'state', 'zip', 'ownership']

    # Optional: columns like restot, ratings, etc. can also be averaged or first taken
    other_cols = ['restot', 'overall_rating', 'survey_rating', 'quality_rating', 
                  'staffing_rating', 'adj_total', 'rural_versus_urban']

    # Define aggregation logic
    agg_dict = {col: 'first' for col in static_cols + other_cols}
    agg_dict.update({col: 'mean' for col in annualized_cols})

    # Add year to groupby
    grouped = df_valid.groupby(['provnum', 'year']).agg(agg_dict).reset_index()

    return grouped

In [349]:
annualized_nursing_data = consolidate_annual_reports(nursing_home_data_filled)

In [350]:
#Check info
annualized_nursing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99386 entries, 0 to 99385
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   provnum                         99386 non-null  object
 1   year                            99386 non-null  int64
 2   provname                        99303 non-null  object
 3   address                         99303 non-null  object
 4   city                            99303 non-null  object
 5   state                           99303 non-null  object
 6   zip                             99303 non-null  float64
 7   ownership                       99303 non-null  object
 8   restot                          98183 non-null  float64
 9   overall_rating                  97931 non-null  float64
 10  survey_rating                   97931 non-null  float64
 11  quality_rating                  97883 non-null  float64
 12  staffing_rating                 96357 non-null  float64
 13  adj_total                       95356 non-null  float64
 14  rural_versus_urban              99279 non-null  object
 15  annualized_gross_revenue        99209 non-null  float64
 16  annualized_inpatient_revenue    99209 non-null  float64
 17  annualized_net_income           99142 non-null  float64
 18  annualized_net_patient_revenue  99213 non-null  float64
 19  annualized_total_assets         98726 non-null  float64
 20  annualized_total_costs          99328 non-null  float64
 21  annualized_total_income         99185 non-null  float64
 22  annualized_total_liabilities    98513 non-null  float64
dtypes: float64(15), int64(1), object(7)
memory usage: 17.4+ MB

In [353]:
annualized_nursing_data[annualized_nursing_data['provnum'] == '495134']

,provnum,year,provname,address,city,state,zip,ownership,restot,overall_rating,survey_rating,quality_rating,staffing_rating,adj_total,rural_versus_urban,annualized_gross_revenue,annualized_inpatient_revenue,annualized_net_income,annualized_net_patient_revenue,annualized_total_assets,annualized_total_costs,annualized_total_income,annualized_total_liabilities
83586,495134,2015,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Corporation,102.0,1.0,1.0,2.0,3.0,3.80787,U,1.165623e+07,1.165623e+07,1.703829e+06,9.347383e+06,3.793580e+06,1.477008e+06,1.703832e+06,1.901882e+06
83587,495134,2016,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Corporation,112.0,1.0,1.0,1.0,2.0,3.53917,U,1.278297e+07,1.278297e+07,1.313670e+06,9.482481e+06,4.419094e+06,1.625552e+06,1.313673e+06,1.162030e+06
83588,495134,2017,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Corporation,99.9,2.0,2.0,4.0,2.0,3.37220,U,1.216284e+07,1.216284e+07,4.061989e+05,8.757239e+06,4.386649e+06,1.604750e+06,4.061989e+05,7.144394e+05
83589,495134,2018,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Corporation,99.9,2.0,2.0,4.0,2.0,3.37220,U,1.208257e+07,1.208257e+07,3.209112e+05,8.727101e+06,4.612921e+06,1.362312e+06,3.209112e+05,6.224263e+05
83590,495134,2019,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Individual,108.8,1.0,1.0,1.0,1.0,3.00217,U,1.322256e+07,1.322256e+07,6.566039e+05,9.235573e+06,5.224017e+06,1.562244e+06,6.566029e+05,5.708018e+05
83591,495134,2020,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Individual,98.3,1.0,1.0,2.0,2.0,3.40065,U,1.101602e+07,1.101602e+07,1.087928e+06,9.453145e+06,6.674939e+06,1.488156e+06,1.087928e+06,9.465440e+05
83592,495134,2021,RIDGECREST MANOR NURSING & REHABILITATION,157 ROSS CARTER BOULEVARD,DUFFIELD,VA,24244.0,For profit - Individual,92.1,1.0,1.0,4.0,2.0,3.22621,U,1.075731e+07,1.075731e+07,1.775544e+06,9.902263e+06,8.238080e+06,1.324375e+06,1.775547e+06,7.184042e+05

In [360]:
# Check for unmatched rows by 'provnum' ( According to Nhien)
unmatched_rows = annualized_nursing_data[annualized_nursing_data['provname'].isnull()]
unmatched_count = unmatched_rows.shape[0]
print(f"Total rows with unmatched 'provname': {unmatched_count}")

Total rows with unmatched 'provname': 83

In [361]:
# Export to csv
annualized_nursing_data.to_csv("clean_nursing_data.csv",index=False)